
<div class="todo">
  <div class="header">
      <ul class="nav">
          <li class="nav-item">
              <a aria-current="page">Inicio</a>
          </li>
          <li class="nav-item">
              <a>Producto</a>
          </li>

          <img class="logo" src="assets/logo.png" alt="1">

          <li class="nav-item">
              <a>Categorias</a>
          </li>
          <li class="nav-item">
              <a>Contacto</a>
          </li>
      </ul>
  </div>


  <div>
      <div class="cartelon">
          <img class="logo" src="assets/logo.png" alt="1">
      </div>
  </div>


  <div class="contenedor-general">
      <div class="contenedor-dos-cuadrados">
          <div class="cuadrado">
              <img class="img-molesta3" src="assets/razer1.png" alt="">
          </div>
          <div class="contenedor-mini-cuadrados row">
              <div class="mini-cuadrado">
                  <img src="assets/mouse1.png" alt="">
              </div>
              <div class="mini-cuadrado">
                  <img src="assets/teclado1.png" alt="">
              </div>
              <div class="mini-cuadrado">
                  <img src="assets/auriculars1.png" alt="">
              </div>
              <div class="mini-cuadrado">
                  <img src="assets/amd2.png" alt="">
              </div>
          </div>
      </div>
      <div class="contenedor-dos-cuadrados">
          <div class="cuadrado">
              <img src="assets/monitor1.png" alt="">
          </div>
          <div class="cuadrado">
              <img class="img-molesta1" src="assets/amd1.png" alt="">
          </div>
      </div>
      <div class="contenedor-dos-cuadrados">
          <div class="cuadrado">
              <img class="img-molesta2" src="assets/nvidia1.png" alt="">
          </div>
          <div class="cuadrado">
              <img src="assets/gabinete1.png" alt="">
          </div>
      </div>
  </div>

  <br>

  <div class="ayuda row">
      <h3 class="titulo"> ENVIANOS TU OPINION O CONSULTA </h3>
      <input class="campo col-5" type="text" placeholder="Nombre"> <input class="campo col-5" type="text"
          placeholder="Apellido">
      <input class="campo col-5" type="text" placeholder="Mail"> <input class="campo col-5" type="text"
          placeholder="Pais">
      <textarea class="mensaje col-12" name="" id="" cols="100" rows="10" placeholder="Mensaje"></textarea>
      <button class="btn-enviar col-5"> Enviar mensaje <i class='bx bxs-envelope'></i> </button>
  </div>

  <div class="footer">

      <div class="contenedor-logo">
          <img class="logo" src="assets/logo.png" alt="1">
      </div>

      <div class="textos row">
          <div class="col-6">
              <div class="row">
                  <h3 class="titulo"> CONTACTENOS </h3>
                  <span class="texto">Última Actualización: 18/08/2023 12:41</span>
                  <span class="texto"> Atención/Venta Telefónica: 0810-345-0662 </span>
                  <span class="texto"> info@tronix.com.ar </span>
                  <span class="texto"> © Todos los derechos Reservados </span>
              </div>
          </div>
          <div class="col-6">
              <div class="row">
                  <h3 class="titulo"> ULTIMOS REVIEWS</h3>
                  <span class="texto"> Del usuario 1234sasv : Blalaalalalala</span>
                  <span class="texto"> Del usuario Georgeskla1 : Blalblallblabl</span>
              </div>
          </div>
      </div>

      <div>
          <span class="final">Made by Jeremy Enterprises</span>
      </div>
  </div>

</div>