<div class="header row">
    <ul id="header" class="nav col-12">
        <li id="item1" class="nav-item col-s-2 col-m-2 col-l-2 col-xl-2">
            <a aria-current="page">Inicio</a>
        </li>
        <li class="nav-item col-s-2 col-m-2 col-l-2 col-xl-2">
            <a>Producto</a>
        </li>

        <img class="logo col-s-4 col-m-4 col-l-4 col-xl-4" src="assets/logo.png" alt="1">

        <li class="nav-item col-s-2 col-m-2 col-l-2 col-xl-2">
            <a>Categorias</a>
        </li>
        <li class="nav-item col-s-2 col-m-2 col-l-2 col-xl-2">
            <a>Contacto</a>
        </li>
    </ul>
</div>
<div class="header2 row">
    <ul class="nav col-12" (click)="abrir()">
        <div style="width: 30%;">
            <i class='bx bx-menu bx-lg'></i>
        </div>

        <div>
            <img class="logo col-xs-8 col-s-4 col-m-4 col-l-4 col-xl-4" src="assets/logo.png" alt="1">
        </div>


        <li class="nav-item col-s-2 col-m-2 col-l-2 col-xl-2" *ngIf="abre">
            <a aria-current="page">Inicio</a>
        </li>
        <li class="nav-item col-s-2 col-m-2 col-l-2 col-xl-2" *ngIf="abre">
            <a>Producto</a>
        </li>
        <li class="nav-item col-s-2 col-m-2 col-l-2 col-xl-2" *ngIf="abre">
            <a>Categorias</a>
        </li>
        <li class="nav-item col-s-2 col-m-2 col-l-2 col-xl-2" *ngIf="abre">
            <a>Contacto</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="cartelon col-12">
        <img class="logo col-s-2 col-m-4 col-l-6 col-xl-8" src="assets/logo.png" alt="1">
    </div>
</div>

<div class="contenedor-general row">
    <div class="contenedor-dos-cuadrados col-12">
        <div class="cuadrado col-xs-6 col-s-6 col-m-6 col-l-6 col-xl-6">
            <img src="assets/razer1.png" alt="">
        </div>
        <div class="contenedor-mini-cuadrados">
            <div class="mini-cuadrado col-xs-3 col-s-3 col-m-3 col-l-3 col-xl-3">
                <img src="assets/mouse1.png" alt="">
            </div>
            <div class="mini-cuadrado col-xs-3 col-s-3 col-m-3 col-l-3 col-xl-3">
                <img src="assets/teclado1.png" alt="">
            </div>
            <div class="mini-cuadrado col-xs-3 col-s-3 col-m-3 col-l-3 col-xl-3">
                <img src="assets/auriculars1.png" alt="">
            </div>
            <div class="mini-cuadrado col-xs-3 col-s-3 col-m-3 col-l-3 col-xl-3">
                <img src="assets/amd2.png" alt="">
            </div>
        </div>
    </div>
    <div class="contenedor-dos-cuadrados col-12">
        <div class="cuadrado col-xs-6 col-s-6 col-m-6 col-l-6 col-xl-6">
            <img class="img-monitor" src="assets/monitor1.png" alt="">
        </div>
        <div class="cuadrado col-xs-6 col-s-6 col-m-6 col-l-6 col-xl-6">
            <img src="assets/amd1.png" alt="">
        </div>
    </div>
    <div class="contenedor-dos-cuadrados col-12">
        <div class="cuadrado col-xs-6 col-s-6 col-m-6 col-l-6 col-xl-6">
            <img src="assets/nvidia1.png" alt="">
        </div>
        <div class="cuadrado col-xs-6 col-s-6 col-m-6 col-l-6 col-xl-6">
            <img class="img-gabinete" src="assets/gabinete1.png" alt="">
        </div>
    </div>
</div>

<br>

<div class="ayuda row">
    <h3 class="titulo col-12"> ENVIANOS TU OPINION O CONSULTA </h3>
    <input class="campo col-s-5 col-m-5 col-l-5 col-xl-5" type="text" placeholder="Nombre">
    <input class="campo col-s-5 col-m-5 col-l-5 col-xl-5" type="text" placeholder="Apellido">
    <input class="campo col-s-5 col-m-5 col-l-5 col-xl-5" type="text" placeholder="Mail">
    <input class="campo col-s-5 col-m-5 col-l-5 col-xl-5" type="text" placeholder="Pais">
    <textarea class="mensaje col-s-12 col-m-12 col-l-12 col-xl-12" name="" id="" cols="100" rows="10"
        placeholder="Mensaje"></textarea>
    <button class="btn-enviar col-s-6 col-m-6 col-l-6 col-xl-6"> Enviar mensaje <i class='bx bxs-envelope'></i>
    </button>
</div>

<br>

<div class="footer">

    <div class="contenedor-logo row">
        <img class="logo col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12" src="assets/logo.png" alt="1">
    </div>

    <div class="textos row">
        <div class="col-xs-6 col-s-6 col-m-6 col-l-6 col-xl-6">
            <div class="row">
                <h3 class="titulo col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12"> CONTACTENOS </h3>
                <span class="texto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">Última Actualización: 18/08/2023
                    12:41</span>
                <span class="texto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12"> Atención/Venta Telefónica:
                    0810-345-0662 </span>
                <span class="texto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12"> info@tronix.com.ar </span>
                <span class="texto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12"> © Todos los derechos Reservados
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-s-6 col-m-6 col-l-6 col-xl-6">
            <div class="row">
                <h3 class="titulo col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12"> ULTIMOS REVIEWS</h3>
                <span class="texto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12"> Del usuario 1234sasv :
                    Blalaalalalala</span>
                <span class="texto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12"> Del usuario Georgeskla1 :
                    Blalblallblabl</span>
            </div>
        </div>
    </div>

    <div>
        <span class="final">Made by Jeremy Enterprises</span>
    </div>
</div>